Body{
    background-color: black;
    max-width: 100%;
}
header{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2rem;
}
#para{
   text-align: center;
    color: white;
    font-size: 2rem;
    
}
.row{
    justify-content: space-around;
    margin-top: 200px;
}

footer{
    background-color: grey;
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-top: 180px;
    justify-content: space-around;
    color:black;
    font-size: 1.5rem;
}
.AA{
    color: white;
    font-size: 1.5rem;
    background-color: grey;
    box-sizing: border-box;
    border:honeydew solid;
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 20px;

}
.B{
    color: white;
    font-size: 1.5rem;
    background-color: grey;
    border:honeydew solid;
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 40px;


}
#num{
    color: white;
}
.C{
    border:honeydew solid;

}
.fb{
    margin-top: 10px;
}