Body{
    background-color: black;
    max-width: 100%;
}
header{
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
#para{
    justify-content: center;
    align-items: center;
    color: white;
}
/* #info{
    display: flex;
    flex-direction: row; 
    color: white;
    justify-content: space-around;
} */
/* footer{
    background-color: grey;
    display: flex;
    flex-direction: row;
    height: 100px;
} */
#A{
    /* background-color: grey; */
    color: white;
}
#B{
    /* background-color: grey; */
    color: white;
}